body {
  background-color: black;
  color: #00ff00; /* Classic Matrix/Terminal Green */
  font-family: "Consolas";
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
}

#terminal {
  height: 300px;
  overflow-y: auto; /* This makes it scroll like a real terminal */
  border: 1px solid #00ff00;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold; /* Because you like it BOLD */
  font-family: "consolas";
}
